h1
{
	font-family: "Courier", Georgia, Serif;
	color: navy;
	text-align: center;
}
h2
{
	font-family: "Courier", Georgia;
}
pre
{
	font-family: "arial", Georgia, Serif;
	font-size: 10pt;
}
li
{
	font-family: "tahoma", Georgia, Serif;
}
